@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* HANDLE */
::-webkit-scrollbar-track {
  background: #888;
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
